<html>

<head>
  <title>Vocabbler|Quiz</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/vocabbler/stylesheets/style.css">
</head>

<body class="page-content">
  <h1>Quiz</h1>
  <!-- <ul>
    <li>Quiz on words marked "new" or "learning".</li>
    <li>10% of all words appear in quiz are randomly picked from words marked "learned". If you miss a learned word, it will downgrade to "learning".</li>
  </ul> -->
  <a href="/vocabbler">Return to the home page</a>
  
  <div id="qa-container">
    <h2>Quiz settings</h2>
    <form>
    <label for="number-of-questions"></label>How many questions? (1~100)<input id="number-of-questions" type="number" min="1" max="100">
    </form>
    <button class="button-primary" id="start-quiz" onclick="start_quiz();">Start Quiz</button>
  </div>

  <script src="/vocabbler/javascripts/quiz.js"></script>
</body>

</html>