body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.page-content {
  width: 800px;
  margin-left: calc((100vw - 800px) / 2);
}

a {
  color: #00B7FF;
}

/*#########################
           Tables
  #########################*/
/* Center tables for demo */
table {
  margin: 0 auto;
}

/* Default Table Style */
table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
}
table caption {
  padding:.5em;
}
table th,
table td {
  padding: .5em;
  border: 1px solid lightgrey;
  width: 100px;
  overflow-wrap: normal;
}

table th {
  background-color: lightblue;
  border-bottom: black solid 1px;
}


/* Buttons */
button {
  margin: 10px 10px 10px 10px;
  padding: 5px 10px 5px 10px;
  border: black solid 1px;
}

.button-primary {
  background-color: lightblue;
}

.button-primary:hover {
  background-color: lightskyblue;
}

.button-secondary {
  background-color:beige;
}

.button-secondary:hover {
  background-color: bisque;
}